/* 
Paleta de cores:
- #D8A9D9 roxo escuro
- #F2E9F2 cinza
- #EACEF2 roxo claro
- #F9A8C8 rosa claro
- #E55E82 rosa escuro
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0;
    max-width: 1440px;
}

@font-face {
    font-family: RedHatDisplay;
    src: url('RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf');
}

/*Aqui irei modelar a barra lateral*/
#barra-lateral {
    width: 350px;
    height: 1024px;
    position: fixed;
    top: 0;
    left: -350px; /* Inicialmente, a barra lateral está fora da tela */
    background-color: #ffffff;
    color: #000000;
    transition: left 0.3s ease; /* Adiciona uma transição suave para a animação */
    display: flex;
    flex-direction: column;
}
/*Aqui estou modelando a parte do perfil do usuario*/
.DadosPerfil {
    display: flex;
    background-color:rgba(229, 94, 130, 1);
    height: 120px;
    width: 350px;
    align-items: center;
    padding-bottom: 10px;
}
.DadosPerfil > p {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
.DadosPerfil > a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}

.DadosPerfil > div > img {
    border-radius: 100%;
    margin-left: 20px;
    border: 2px solid white;
    
}
/*Aqui estou modelando a parte dos links*/
.conteuldoBarralateral > h1 {
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 5px;
}
.conteuldoBarralateral > div {
    width: 350px;
    border-bottom: 1px solid rgba(236, 202, 237, 1);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.conteuldoBarralateral > div > a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 10px;
}
.conteuldoBarralateral > div > i {
    color: rgba(229, 94, 130, 1);
    margin-bottom: 10px;
}
.conteuldoBarralateral > div > a:hover {
    color: rgba(229, 94, 130, 1);
    transition-duration: 0.5s;
}

/*Botao de abrir a barra lateral*/
#toggle-btn {
    background-color: #d676ae;
    height: 20px;
    width: 40px;
    border: none;
    border-radius: 30px;
}
/*Botao de fechar barra lateral*/
.botaSair {
    background-color: rgba(229, 94, 130, 1);
    width: 350px;
    display: flex;
    justify-content: end;
}
.botaSair > a {
    padding: 5px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
   
}

.conteiner{
    display: flex;
    width: 1200px;
    border: 1px solid red;
    justify-content: center;
}

.titulo{
    background: linear-gradient(to bottom, #EACEF2, #F8ABCC);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Merriweather Sans', sans-serif;

}

p{

    font-family: 'Red Hat Display', sans-serif;
}

.carrinho_produto{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botaoCarrinho{
    background-color: #F9A8C8;
    color: #E55E82;
    border-radius: 50px;
    padding: 10px 50%;
}

.botaoCompra{
    background-color: #E55E82;
    color: #F9A8C8;
    border-radius: 50px;
    padding: 10px 50%;
    text-decoration: none;
}

.informacoes{
    border: 1px solid #E55E82;
    border-radius: 20px;
    padding: 5px 30px;
    width: 80%;
}

footer{
    background-color: #E55E82;
    color: white;
    height: 400px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bi{
    color: white;
    
}

.icones_rodape{
    display: flex;
    width: 208px;
    justify-content: space-between;
    margin-right: 4%;
}