/* 
Paleta de cores:
- #D8A9D9 roxo escuro
- #F2E9F2 cinza
- #EACEF2 roxo claro
- #F9A8C8 rosa claro
- #E55E82 rosa escuro
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0;
}

.conteiner{
    display: flex;
}

.titulo{
    background: linear-gradient(to bottom, #EACEF2, #F8ABCC);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Merriweather Sans', sans-serif;

}

p{

    font-family: 'Red Hat Display', sans-serif;
}

.carrinho_produto{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.botaoCarrinho{
    background-color: #F9A8C8;
    color: #E55E82;
    border-radius: 50px;
    padding: 10px 50%;
}

.botaoCompra{
    background-color: #E55E82;
    color: #F9A8C8;
    border-radius: 50px;
    padding: 10px 50%;
    text-decoration: none;
}

.informacoes{
    border: 1px solid #E55E82;
    border-radius: 20px;
    padding: 5px 30px;
    width: 80%;
}

footer{
    background-color: #E55E82;
    color: white;
    width: 100%;
    margin-top: 10%;
}

