/* 
Paleta de cores:
- #D8A9D9 roxo escuro
- #F2E9F2 cinza
- #EACEF2 roxo claro
- #F9A8C8 rosa claro
- #E55E82 rosa escuro
*/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9A8C8;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    
}
  
.container {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    align-items: center;
}

.color {
    color: #D8A9D9;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}
  
button {
    padding: 10px 20px;
    background-color: #E55E82;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #F9A8C8;
}
  
input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px #E55E82 solid;
    border-radius: 3px;
    color: #F9A8C8;
}

input[type="number"]:focus {
    border: 2px #F9A8C8 solid;
    outline: none;
}