#linha_inicial {
    position:fixed;
    z-index: 1;
    background-color: white;
    top: 0px;
    left: 0px;
}


.destaque {
    height: 60px;
    width: 60px;
    border-radius: 50%; 
    border: 1px solid rgb(179, 177, 177);
    padding: 2px;
    margin-top: 10px;  
}

#perfil{
    height: 70px;
    width: 70px;
    border-radius: 50%; 
}

#nome, h5 {
    margin: 5px;
}

.elemento_info {
    text-align: center;
    padding-right: 30px;
    padding-top: 60px;
}

.elemento1 {
    text-align:center;
    padding-right: 0px;
    padding-bottom: 20px;
}

.elemento2 {
    background-color: rgb(240, 237, 237);
    border-radius: 10%;
    text-align: center;
    height: 25px;
    width: 200px;
}

.posts {
    height: 155px;
    width: 155px;
}

.elementoPost {
    padding-bottom: 0px;
}

#tabelaPosts {
    border-collapse: collapse;
}

#icone {
    border: 1px solid black;
    border-radius: 100%;
    padding: 25px;
    height: 14px;
    margin-top: 10px;
}

#icone_2 {
    width: 25px;
}

#quadrado_mais {
    border: 2px solid black;
    border-radius: 30%;
    width: 15px;
    padding-left: 2px;
    padding-top: 1px;
    margin-left: 180px;
    margin-right: 20px;   
}

#cadeado {
    padding-left: 5px;
    padding-right: 5px;
}

#tabela {
    padding-left: 119px;
    padding-right: 105px;
}

#pessoa {
    padding-left: 90px;
    padding-right: 125px;
}

#biografia {
    padding-bottom: 10px;
}

.destaque_espaco {
    padding-right: 15px;
    padding-left: 15px;
}

.biografia_elemento {
    padding-bottom: 0px;
    padding-top: 0px;
}

#linha_opcoes {
    position: sticky;
    top: 71px;
    background-color: white;
    z-index: 1;
    padding-right: 214px;
}

body {
    font-family: roboto;
}