#quadrado_mais{
    border: 2px solid black;
    border-radius: 30%;
    width: 15px;
    padding-left: 2px;
    padding-top: 2px;
}

.navbar{
    display: flex;
    width: 429px;
    height: 37px;
    justify-content: space-between;
    align-items: center;
}

.iconesNav{
    display: flex;
    width: 55px;
    justify-content: space-between;
}

.plus{
    background-color: #1a75ff;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    padding: 8px 10px;
    right: 40px;
    position: relative;
    z-index: 1;
}

.follows{
    width: 265px;
    height: 31px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
 

    border: 1px solid blue;
}