<!DOCTYPE html>
    <html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel de Cards</title>
    <link rel="stylesheet" href="carrossel.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="carrossel.js"></script>
    </head>
<body>

<div class="MaisVendidos">
    <h1>{{ db }}</h1>
    <div class="carrossel">
        <!---CARD DE PRODUTO MAIS VENDIDO-->
        <div class="cardMaisVendido">
            <div class="TituloCard"><h1>NOME</h1></div>
            <div class="imgCard"><img src="imagens/produtos/Bases/baseMari02-removebg-preview.png" alt=""></div>
            <div class="Valor_Botao">
                <h1>R$100</h1>
                <button>Eu quero!</button>
            </div> 
        </div>
         <!---CARD DE PRODUTO MAIS VENDIDO-->
         <div class="cardMaisVendido">
            <div class="TituloCard"><h1>NOME</h1></div>
            <div class="imgCard"><img src="imagens/produtos/Bases/baseMari02-removebg-preview.png" alt=""></div>
            <div class="Valor_Botao">
                <h1>R$100</h1>
                <button>Eu quero!</button>
            </div> 
        </div>
         <!---CARD DE PRODUTO MAIS VENDIDO-->
         <div class="cardMaisVendido">
            <div class="TituloCard"><h1>NOME</h1></div>
            <div class="imgCard"><img src="imagens/produtos/Bases/baseMari02-removebg-preview.png" alt=""></div>
            <div class="Valor_Botao">
                <h1>R$100</h1>
                <button>Eu quero!</button>
            </div> 
        </div>
         <!---CARD DE PRODUTO MAIS VENDIDO-->
         <div class="cardMaisVendido">
            <div class="TituloCard"><h1>NOME</h1></div>
            <div class="imgCard"><img src="imagens/produtos/Bases/baseMari02-removebg-preview.png" alt=""></div>
            <div class="Valor_Botao">
                <h1>R$100</h1>
                <button>Eu quero!</button>
            </div> 
        </div>
         <!---CARD DE PRODUTO MAIS VENDIDO-->
         <div class="cardMaisVendido">
            <div class="TituloCard"><h1>NOME</h1></div>
            <div class="imgCard"><img src="imagens/produtos/Bases/baseMari02-removebg-preview.png" alt=""></div>
            <div class="Valor_Botao">
                <h1>R$100</h1>
                <button>Eu quero!</button>
            </div> 
        </div>
    </div>
    <button id="prev" class="botoes">Anterior</button>
    <button id="next" class="botoes">Próximo</button>
</div>

</body>
</html>
